*{
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;

    overflow: hidden;

    margin: 0px;
    
    height: 100vh;

    background: linear-gradient(rgb(31, 47, 114), rgb(11, 22, 66));

    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    margin: 0px;
    padding: 5px;

    position: absolute;
    bottom: 20px;
    left: 20px;

    background: rgba(0, 0, 0, 0.6);

    border-radius: 5px;
 
    font-size: 24px;
    letter-spacing: 1px;
    color: white;

    opacity: 0;
}

.container{
    width: 100%;
  
    display: flex;
    
    padding: 0px 20px;
}

.card{
    margin: 10px;
  
    height: 80vh;
  
    border-radius: 20px;
  
    flex: 1;
  
    cursor: pointer;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    position: relative;
  
    transition: all 500ms ease-in-out;
}